*

!.gitignore
!.gitattributes
!README.md

!flake.nix
!flake.lock

!backend/
!backend/default.nix
!backend/Cargo.toml
!backend/Cargo.lock
!backend/tauri.conf.json
!backend/build.rs
!backend/src/
!backend/src/*.rs
!backend/icons/
!backend/icons/*

!frontend/
!frontend/default.nix
!frontend/gleam.toml
!frontend/manifest.toml
!frontend/package.json
!frontend/bun.lockb
!frontend/vite.config.js

!frontend/index.html
!frontend/main.js
!frontend/src/
!frontend/src/**

!frontend/test/
!frontend/test/*.gleam
